{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Course Detail</title>{% endblock %}
</head>
<body>
    {% block content %}
        <h1>{{ course.title }}({{ course.purchased }} students)</h1> <br>
        <a href="{{ course.category.get_absolute_url }}">{{ course.category }}</a> <br>
        <video controls>
            <source src="{{ course.video.url }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <!-- <h5>Published: {{ course.publish_date | time}}</h5> <br> -->
        <h5>Teacher: {{ course.teacher }}</h5> <br>
    {% endblock %}
</body>
</html>