{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>coursefromcategory</title>{% endblock %}
</head>
<body>
    {% block content%}
        {% for course in courses %}
            {% if course.category.slug == category.slug %}
                <a href="{{ course.get_absolute_url }}">{{ course.title }}</a> <br>
                <a href="{{ course.category.get_absolute_url }}">{{ course.category }}</a> <br>
                <!-- <h5>Published: {{ course.publish_date | time}}</h5> <br> -->
                <h5>Teacher: {{ course.teacher }}</h5> <br>
            {% endif %}
        {% endfor %}
    {% endblock %}
</body>
</html>